<p>
  <b>Title:</b>
  <%=h @content.title %>
</p>

<p>
  <b>Body:</b>

<%=h @content.body %>
</p>
<% for content_image in @content.content_images %>
<p>
    <%= image_tag content_image.data.url(:thumb), :alt => "" %>
    <%= h content_image.data.url(:original) %>
    </p>
<% end %>

<p>
  <div class="preview_ex">body(actual)
    <div class="preview_in" id="body_html">
      <%= @content.body_html %>
    </div>
  </div>
</p>

<p>
  <b>Summary:</b>
  <%=h @content.summary %>
</p>

<p>
  <div class="preview_ex">summary(actual)
    <div class="preview_in" id="summary_html">
  <%= @content.summary_html %>
    </div>
  </div>

</p>

<p>
  <b>表示許可:</b>
  <%=h @content.display_permit %>
</p>

<p>
  <b>特集記事:</b>
  <%=h @content.content_type %>
</p>

<p>
  <b>Customer:</b>
  <%=h @content.customer_id %>
</p>

<p>
  <b>Banner size:</b>
  <%=h @content.banner_size_id %>
</p>

<p>
  <b>Publish at:</b>
  <%=h @content.publish_at %>
</p>

<p>
  <b>Close at:</b>
  <%=h @content.close_at %>
</p>
<p>
  <b>Banner:</b>
  <%= image_tag @content.banner.url(:small) %>
</p>
<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
