<p><%=link_to 'コンテンツリストへ',contents_path %></p>
<p><%=link_to 'カスタマーリストへ',customers_path %></p>
<p><%=link_to 'タグリストへ',tags_path %></p>
<p><%=link_to 'ユーザーリストへ',users_path %></p>
<p><%= link_to_if logged_in?,'Logout >>',session_path, :method => :delete do end %></p>
