<% javascript "slider" %>
<% javascript "slider_changer" %>

<link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.1.css" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="stylesheets/slider.css" />

<style type="text/css">
  body { font-family: Arial,Helvetica,sans-serif;}
  div.extraclass
  {
    width:20.6em;
    float:left;
  }
</style>

<script type="text/javascript">
MYAPP = {};
MYAPP.FPS = 50;
MYAPP.cell_width = 360;
MYAPP.cell_height = 240;

var canvas = null;
var context2D = null;

MYAPP.contents_num = <%= @contents.count %>;

MYAPP.banners = new Array();
<% @contents.each_with_index do |content, i| %>
  MYAPP.banners[<%= i %>] = new Image();
  MYAPP.banners[<%= i %>].src = "<%= content.banner.url(:small) %>";
  MYAPP.banners[<%= i %>].id  = <%= content.id %>;
<% end %>

function reload()
{
  MYAPP.y = 0;
  MYAPP.loop = MYAPP.cell_height * (Math.floor(MYAPP.contents_num / 3) + 1);
  MYAPP.content = new Array();
  for (var i=0; i < MYAPP.banners.length; i++)
  {
    MYAPP.content[i] = {
          start_x : MYAPP.cell_width * (i % 3),
          start_y : MYAPP.cell_height * Math.floor(i / 3),
          width   : MYAPP.banners[i].width,
          height  : MYAPP.banners[i].height,
          id      : MYAPP.banners[i].id
    };
  }
}
</script>

<script id="canvas_js" type="text/javascript">
  <%= render :partial => 'content', :collection => @contents %>
</script>

<script type="text/javascript">
function draw()
{
  context2D.clearRect(0, 0, canvas.width, canvas.height);

  for (var i=0; i < MYAPP.banners.length; i++)
  {
    context2D.drawImage(MYAPP.banners[i], MYAPP.cell_width * (i % 3), MYAPP.cell_height * Math.floor(i / 3) + MYAPP.y);
    context2D.drawImage(MYAPP.banners[i], MYAPP.cell_width * (i % 3), MYAPP.cell_height * Math.floor(i / 3) + MYAPP.y + MYAPP.loop);
  }

  MYAPP.y -= 2;

  if (MYAPP.y <= - MYAPP.loop) MYAPP.y = 0;
}
</script>

<script id="image_flow" type="text/javascript">
  <%= render :partial => 'flow', :object => @contents %>
</script>

<table>
  <tr>
    <td><%= image_tag 'volun.png' %></td>
    <% if logged_in? %>
      <td>Hello, <%= current_user.login %></td>
      <% form_for logout_path do %>
        <td><%= submit_tag("logout") %></td>
      <% end %>
    <% else %>
      <% form_for login_path do %>
        <td><%= text_field_tag 'login' %></td>
        <td><%= password_field_tag 'password' %></td>
        <td><%= submit_tag("login") %></td>
        <td>create new account <%= link_to "here", signup_path %></td>
      <% end %>
    <% end %>
  </tr>
</table>
<table>
  <tr>
    <% @tags.each do |tag| %>
      <td><%= link_to_remote tag.name, :url => { :action => :show, :tag => tag.id } %></td>
    <% end %>
    <td><input  name="slider" id="slider" type="text" title="Range: 10 - 100" class="fd_range_10_100 fd_hide_input fd_classname_extraclass fd_callback_changeScrollSpeed" value="50" /></td>
  </tr>
</table>
<hr>
<div id="canvas_div">
  <%= render :partial => 'canvas' %>
</div>

