<% javascript "slider" %>
<% javascript "slider_changer" %>

<link rel="stylesheet" type="text/css" media="screen, projection" href="stylesheets/slider.css" />

<script type="text/javascript">
MYAPP = {}; <!-- オブジェクトの生成 -->
MYAPP.FPS = 50;
MYAPP.cell_width = 360;
MYAPP.cell_height = 240;

var canvas = null;
var context2D = null;

MYAPP.contents_num = <%= @contents.count %>;

MYAPP.banners = new Array();
<% @contents.each_with_index do |content, i| %>
  MYAPP.banners[<%= i %>] = new Image();
  MYAPP.banners[<%= i %>].src = "<%= if content.banner_size_id == 1 then content.banner.url(:small) else content.banner.url(:medium) end%>";
  MYAPP.banners[<%= i %>].id  = <%= content.id %>;
<% end %>

function reload()
{
  MYAPP.y = 0;
  MYAPP.loop = MYAPP.cell_height * <%= @column %>;
  MYAPP.content = new Array();
 pos_x = 0;
 pos_y = 0;
  for (var i=0; i < MYAPP.banners.length; i++)
  {
    MYAPP.content[i] = {
      start_x : pos_x,
      start_y : pos_y,
      width   : MYAPP.banners[i].width,
      height  : MYAPP.banners[i].height,
      id      : MYAPP.banners[i].id
    }

    pos_x = pos_x + MYAPP.banners[i].width;

    if (pos_x == MYAPP.cell_width * 3){
      pos_x = 0;
      pos_y = pos_y + MYAPP.cell_height;
    }
  }
}
</script>

<script id ="canvas_js" type="text/javascript">
  <%= render :partial => 'content', :collection => @contents %>
</script>

<script id = "image_draw" type="text/javascript">
 <%= render :partial => 'draw', :object => @contents %>
</script>

<script id ="image_flow" type="text/javascript">
  <%= render :partial => 'flow', :object => @contents %>
</script>

<div id = "canvas_div">
  <%= render :partial => 'canvas' %>
</div>
