
<% javascript "slider" %>
<% javascript "slider_changer" %>

<link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.1.css" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="stylesheets/slider.css" />

<script type="text/javascript">
MYAPP = {};
MYAPP.FPS = 50;
MYAPP.cell_width = 360;
MYAPP.cell_height = 240;

var canvas = null;
var context2D = null;

MYAPP.contents_num = <%= @contents.count %>;

MYAPP.banners = new Array();
<% @contents.each_with_index do |content, i| %>
  MYAPP.banners[<%= i %>] = new Image();
  MYAPP.banners[<%= i %>].src = "<%= content.banner.url(:small) %>";
  MYAPP.banners[<%= i %>].id  = <%= content.id %>;
<% end %>

function reload()
{
  MYAPP.y = 0;
  MYAPP.loop = MYAPP.cell_height * (Math.floor(MYAPP.contents_num / 3) + 1);
  MYAPP.content = new Array();
  for (var i=0; i < MYAPP.banners.length; i++)
  {
    MYAPP.content[i] = {
          start_x : MYAPP.cell_width * (i % 3),
          start_y : MYAPP.cell_height * Math.floor(i / 3),
          width   : MYAPP.banners[i].width,
          height  : MYAPP.banners[i].height,
          id      : MYAPP.banners[i].id
    };
  }
}
</script>

<script id="canvas_js" type="text/javascript">
  <%= render :partial => 'content', :collection => @contents %>
</script>

<script type="text/javascript">
function draw()
{
  context2D.clearRect(0, 0, canvas.width, canvas.height);

  for (var i=0; i < MYAPP.banners.length; i++)
  {
    context2D.drawImage(MYAPP.banners[i], MYAPP.cell_width * (i % 3), MYAPP.cell_height * Math.floor(i / 3) + MYAPP.y);
    context2D.drawImage(MYAPP.banners[i], MYAPP.cell_width * (i % 3), MYAPP.cell_height * Math.floor(i / 3) + MYAPP.y + MYAPP.loop);
  }

  MYAPP.y -= 2;

  if (MYAPP.y <= - MYAPP.loop) MYAPP.y = 0;
}
</script>

<script id="image_flow" type="text/javascript">
  <%= render :partial => 'flow', :object => @contents %>
</script>

<div id="canvas_div">
  <%= render :partial => 'canvas' %>
</div>

