<% javascript "slider" %>
<% javascript "slider_changer" %>

<link rel="stylesheet" type="text/css" media="screen, projection" href="stylesheets/slider.css" />

<script type="text/javascript">
MYAPP = {}; <!-- オブジェクトの生成 -->
MYAPP.FPS = 50;
MYAPP.cell_width = 360;
MYAPP.cell_height = 240;

var canvas = null;
var context2D = null;

MYAPP.contents_num = <%= @contents.count %>;

MYAPP.banners = new Array();
<% @contents.each_with_index do |content, i| %>
  MYAPP.banners[<%= i %>] = new Image();
  MYAPP.banners[<%= i %>].src = "<%= if content.banner_size_id == 1
				     content.banner.url(:small) 
else 			     content.banner.url(:medium) end 
				     %>";
  MYAPP.banners[<%= i %>].id  = <%= content.id %>;
<% end %>

function reload()
{
  MYAPP.y = 0;
  MYAPP.loop = MYAPP.cell_height * Math.floor(MYAPP.contents_num / 3);
  MYAPP.content = new Array();
  for (var i=0; i < MYAPP.banners.length; i++)
  {
    if <!-- XXX -->
      MYAPP.content[i].start_x = MYAPP.cell_width * (i % 3);
    MYAPP.content[i] = {
      start_y : MYAPP.cell_height * Math.floor(i / 3),
          width   : MYAPP.banners[i].width,
          height  : MYAPP.banners[i].height,
          id      : MYAPP.banners[i].id
    };
	
  }
}
</script>

<script id ="canvas_js" type="text/javascript">
  <%= render :partial => 'content', :collection => @contents %>
</script>

<script id = "image_draw" type="text/javascript">
 <%= render :partial => 'draw', :object => @contents %>
</script>

<script id ="image_flow" type="text/javascript">
  <%= render :partial => 'flow', :object => @contents %>
</script>

<div id = "canvas_div">
  <%= render :partial => 'canvas' %>
</div>

