<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <title>Voluntourism</title>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag 'lightview' %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.2/scriptaculous.js" %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/prototype/1.6.1/prototype.js" %>
    <%= javascript_include_tag "lightview" %>
	
    <link rel="stylesheet" type="text/css" href="/stylesheets/foundation.css" media="screen, print" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout_base.css" media="screen, print" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css" media="screen, print" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/search.css" media="screen, print" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/content-region.css" media="screen, print" />

    <%= yield :head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>

