<p>
  <b>Name:</b>
  <%=h @customer.name %>
</p>

<p>
  <b>Password hash:</b>
  <%=h @customer.password_hash %>
</p>

<p>
  <b>Password salt:</b>
  <%=h @customer.password_salt %>
</p>

<p>
  <b>Organization name:</b>
  <%=h @customer.organization_name %>
</p>

<p>
  <b>Address:</b>
  <%=h @customer.address %>
</p>

<p>
  <b>Email:</b>
  <%=h @customer.email %>
</p>

<p>
  <b>Person in charge:</b>
  <%=h @customer.person_in_charge %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>