
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <a href="http://redcloth.org/hobix.com/textile/quick.html">quick ref</a><br />
    <%= f.textile_editor :body %>
    <%= link_to_remote "preview update",
	:url => {:action => "update_body_html"},
    :with => "'text=' +encodeURIComponent($('content_body').value)" %>
  </p>
  <p>
    <div class="preview_ex">body(actual)
    <div class="preview_in" id="body_html">
      <%= @content.body_html %>
    </div>
    </div>
  </p>

<div id = "content_images">
  <%= render :partial => 'content_image', :collection => @content.content_images %>
</div>
<p><%= add_content_image_link "Add a content_image" %>
</p>

<% @content.content_images.each do | content_image | %>
  <div class="content_content_images">
    <%= image_tag(content_image.data.url(:thumb), :alt => '') %>
    <%= check_box_tag "content_image_ids[]", content_image.id %>
  </div>
<% end unless @content.content_images.first.new_record? rescue nil %>

<p>
  <%= f.label "サマリー" %><br />
    <a href="http://redcloth.org/hobix.com/textile/quick.html">quick ref</a><br />
    <%= f.textile_editor :summary %>
  <%= link_to_remote "preview update",
      :url => {:action => "update_summary_html"},
  :with => "'text=' +encodeURIComponent($('content_summary').value)" %>

</p>
  <p>
    <div class="preview_ex">summary(actual)
    <div class="preview_in" id="summary_html">
      <%= @content.summary_html %>
    </div>
    </div>
  </p>

<p>
  <%= f.label "コンテンツのバナー" %><br />
  <%= f.file_field :banner %>
</p>
<%= f.label :tag%>
<% for tag in Tag.find(:all) %>
  <div>
    <%= check_box_tag "content[tag_ids][]", tag.id, @content.tags.include?(tag)\
 %>
    <%= tag.name %>
  </div>
<% end %>
  <p>
    <%= f.label "表示申請" %><br />
    <%= f.check_box :display %>
  </p>

  <p>
    <%= f.label "表示開始" %><br />
    <%= f.datetime_select :publish_at %>
  </p>
  <p>
    <%= f.label "表示終了" %><br />
    <%= f.datetime_select :close_at %>
  </p>
<%= textile_editor_initialize -%>
