<h1>コンテンツを編集する</h1>

<% form_for([current_customer,@content],:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
<%= render :partial => 'fields', :locals => {:f => f} %>
  <p>
    <%= f.submit '更新' %>
  </p>
<% end %>

<%= link_to '確認', [current_customer,@content] %> |
<%= link_to '戻る', customer_contents_path %>
