<h1>コンテンツを編集する</h1>

<% form_for([current_customer,@content]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "タイトル" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label "内容(HTML可)" %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label "表示するか" %><br />
    <%= f.check_box :display %>
  </p>
  <p>
    <%= f.label :banner_id %><br />
    <%= f.text_field :banner_id %>
  </p>
  <p>
    <%= f.label :banner_size_id %><br />
    <%= f.text_field :banner_size_id %>
  </p>
  <p>
    <%= f.label :publish_at %><br />
    <%= f.datetime_select :publish_at %>
  </p>
  <p>
    <%= f.label :close_at %><br />
    <%= f.datetime_select :close_at %>
  </p>
  <p>
    <%= f.submit '更新' %>
  </p>
<% end %>

<%= link_to '確認', [current_customer,@content] %> |
<%= link_to '戻る', customer_contents_path %>
