<h1>コンテンツを編集する</h1>

<% form_for([current_customer,@content],:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

<p>
  <%= f.label "タイトル" %><br />
  <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label "内容(HTML可)" %><br />
    <%= f.text_area :body %>
  </p>
<% for content_image in @content.content_images %>
<% fields_for "content[content_image_attributes][]", content_image do |f2| %>
<p>
コンテンツで使う画像：<%= f2.file_field :content_image %>
</p>
<% end %>
<% end %>

<p>
  <%= f.label "コンテンツのバナー" %><br />
  <%= f.file_field :banner %>
</p>
  <p>
    <%= f.label "表示するか" %><br />
    <%= f.check_box :display %>
  </p>
  <p>
    <%= f.label :banner_id %><br />
    <%= f.text_field :banner_id %>
  </p>
  <p>
    <%= f.label :banner_size_id %><br />
    <%= f.text_field :banner_size_id %>
  </p>
  <p>
    <%= f.label :publish_at %><br />
    <%= f.datetime_select :publish_at %>
  </p>
  <p>
    <%= f.label :close_at %><br />
    <%= f.datetime_select :close_at %>
  </p>
  <p>
    <%= f.submit '更新' %>
  </p>
<% end %>

<%= link_to '確認', [current_customer,@content] %> |
<%= link_to '戻る', customer_contents_path %>
