<p>
  <b>タイトル:</b>
  <%=h @content.title %>
</p>

<p>
  <b>内容:</b>
  <%=h @content.body %>
</p>

<p>
  <b>表示するかどうか:</b>
  <%=h @content.display %>
</p>

<p>
  <b>Banner:</b>
  <%=h @content.banner_id %>
</p>

<p>
  <b>Banner size:</b>
  <%=h @content.banner_size_id %>
</p>

<p>
  <b>Publish at:</b>
  <%=h @content.publish_at %>
</p>

<p>
  <b>Close at:</b>
  <%=h @content.close_at %>
</p>

<%= image_tag @content.banner.url(:small) %>


<%= link_to '編集', edit_customer_content_path(current_customer,@content) %> |
<%= link_to '戻る', customer_contents_path %>
