<p>
  <b>タイトル:</b>
  <%=h @content.title %>
</p>

<p>
  <b>内容:</b>
  <%=h @content.body %>
</p>
<% for content_image in @content.content_images %>
  <p>
    <%= image_tag content_image.data.url(:thumb), :alt => "" %>
    <%= h content_image.data.url(:original) %>
    </p>
  <% end %>
<p>
  <b>Summary:</b>
  <%=h @content.summary %>
</p>
<p>
  <b>表示申請:</b>
  <%=h @content.display %>
</p>
<p>
  <b>表示許可:</b>
  <%=h @content.display_permit %>
</p>
<p>
  <b>バナーサイズ:</b>
  <%=h @content.banner_size_id %>
</p>

<p>
  <b>表示開始:</b>
  <%=h @content.publish_at %>
</p>

<p>
  <b>表示終了:</b>
  <%=h @content.close_at %>
</p>
<p>
  <b>Banner:</b>
  <%= image_tag @content.banner.url(:small) %>
</p>

<%= link_to '編集', edit_customer_content_path(current_customer,@content) %> |
<%= link_to '戻る', customer_contents_path %>
