<div id="main">
    <h1 class="title">バナーサイズ新規作成</h1>
		<% form_for @banner_size, :html => { :multipart => true } do |f| %>
		  <%= f.error_messages %>
		
		  <p>
		  <%= f.label :name %><br />
		  <%= f.text_field :name %>
		  </p>
		 
		  <p>
		  <%= f.label :height %><br />
		  <%= f.text_field :height %>
		  </p>
		 
		  <p>
		  <%= f.label :width %><br />
		  <%= f.text_field :width %>
		  </p>
		   <p>
		  <%= f.submit 'Create' %>
		  </p>
		<% end %>
		
		<%= link_to 'Back', banner_sizes_path %>
</div><!-- /#main -->